<ul class="flow-root px-4 py-5 bg-slate-100">
  <div class="flex float-left">
    <li
      class="box-border h-12 w-36 px-3 py-3 mr-6 text-center bg-cyan-900 flex justify-center items-center space-x-2"
    >
      <img
        src="https://api.iconify.design/material-symbols:format-list-bulleted.svg?color=%23888888"
        alt="list"
      />
      <a class="text-white font-semibold hover:text-slate-50">SAVED LISTS</a>
    </li>
    <li
      class="box-border h-12 w-40 px-3 py-3 mr-6 text-center flex justify-center items-center space-x-2"
    >
      <img
        src="https://api.iconify.design/material-symbols:filter-alt-outline-sharp.svg?color=%23888888"
        alt="filter"
      />
      <a class="text-black font-semibold hover:text-slate-500">SAVED FILTERS</a>
    </li>
    <li
      class="box-border h-12 w-44 px-3 py-3 mr-6 text-center flex justify-center items-center space-x-2"
    >
      <img
        src="https://api.iconify.design/clarity:history-line.svg?color=%23888888"
        alt="history"
      />
      <a class="text-black font-semibold hover:text-slate-500">SAVED HISTORY</a>
    </li>
  </div>
  <li class="mr-6 float-right">
    <input
      type="search"
      class="float-right form-control w-[600px] flex-1 px-2 py-1 text-base font-normal text-gray-700 bg-white border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
      id="exampleSearch"
      placeholder="Search"
    />
  </li>
</ul>
